</div>
</div>
</div><!-- /.container -->
<br><br><br>
<hr>

<footer class="new_footer_area bg_color">
  <div class="new_footer_top">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                      <p>Contact info</p>
                      <h4>+91 9878 3545 83</h4>
                      
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">Pages</h3>
                      <ul class="list-unstyled f_list">
                          <li><a href="/about">About Us</a></li>
                          <li><a href="/contact">Contact Us</a></li>
                          
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                      <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                      <ul class="list-unstyled f_list">
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Term &amp; conditions</a></li>
                          
                      </ul>
                  </div>
              </div>
              <!-- can add social handles-->

              <h6 class="contact-form__title mb-3">Subscribe &nbsp;</h6>
                  <br><br>
                <form
                  target="_blank"
                  action="https://formsubmit.co/ayushibansal781@gmail.com"
                  method="POST"
                >
                  <div className="form-group">
                    <div className="form-row">
                      <div className="col">
                        <input
                          type="email"
                          name="email"
                          className="form-control"
                          placeholder="Drop your email!!"
                          required
                        >
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn  btn-primary ">
                    Submit
                  </button>
                </form>
          </div>
      </div>
      <div class="footer_bg">
          <div class="footer_bg_one"></div>
          <div class="footer_bg_two"></div>
      </div>
  </div>
  <div class="footer_bottom">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-sm-7">
                  <p class="mb-0 f_400">©  MyStationary Inc.. 2020 All rights reserved.</p>
              </div>
              
          </div>
      </div>
  </div>
</footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>